@model ErrorViewModel
@inject GeneralLocalization generalLocalization

@{
    ViewData[Constants.Title] = Html.Raw(generalLocalization.Get(GeneralLocalization.Error));
}

<h1 class="text-danger">@Html.Raw(generalLocalization.Get(GeneralLocalization.Error))</h1>
<h2 class="text-danger">@Html.Raw(generalLocalization.Get(GeneralLocalization.RequestError))</h2>
