@inject GeneralLocalization GeneralLocalization

@{ 
    ViewData["Title"] = GeneralLocalization.Get("AccessDenied");
}

<article>
    <p class="text-info text-center">@Html.Raw(GeneralLocalization.Get("AccessDenied"))</p>
</article>