@inject GeneralLocalization GeneralLocalization

@{ 
    ViewData[Constants.Title] = GeneralLocalization.Get(GeneralLocalization.AccessDenied);
}

<article>
    <p class="text-info text-center">@Html.Raw(GeneralLocalization.Get(GeneralLocalization.AccessDenied))</p>
</article>