@using Medic.App.Models.Administrators.Models

@model AccountPagePasswordModel

@inject MedicDataLocalization medicDataLocalization

@{
    ViewData[Constants.Title] = Model.Title;
}

<article>
    <header>
        <h2 class="text-center">@Html.Raw(Model.Title)</h2>
        <h4 class="text-center text-info">@Html.Raw(Model.Keywords)</h4>
    </header>
    <section>
        <partial name="~/Views/Shared/Partials/Accounts/ChangePassword.cshtml" model="@Model.ChangePassword" />
    </section>
</article>