@inject GeneralLocalization generalLocalization

<article>
    <header>
        <h2>@Html.Raw(generalLocalization.Get(GeneralLocalization.PageNotFound))</h2>
    </header>
    <section>
        <p class="text-center text-info">@Html.Raw(generalLocalization.Get(GeneralLocalization.PageNotFound))</p>
    </section>
</article>