@model EvaluationPreviewViewModel
@inject MedicDataLocalization medicDataLocalization

@if (Model != default)
{
    <div>
        <partial name="~/Views/Shared/Partials/Choices/ChoicePreviewViewModels.cshtml" model="@Model.Choices" />
    </div>
}
else
{
    <div class="text-center text-info">@medicDataLocalization.Get("NoResults")</div>
}