@model TherapyTypePreviewViewModel
@inject MedicDataLocalization medicDataLocalization
@inject IEnumResolver enumResolver

@using Medic.Lookups

@{ 
    Type type = enumResolver.GetEnumByModel(ViewData[Constants.LookupEnumKey].ToString());

    string key = type != null ? enumResolver.GetEnumValueByType(type, Model.Code) : Model.Code.ToString();
}

@if (Model != default)
{
    <div>
        <div class="row">
            <div class="col-sm-6">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.TherapyType)): @Html.Raw(medicDataLocalization.Get(key))</div>
        </div>
    </div>
}
else
{
    <div class="text-center text-info">@Html.Raw(medicDataLocalization.Get(MedicDataLocalization.NoResults))</div>
}