@model List<DiagnosePreviewViewModel>

@if (Model != default && Model.Count > 0)
{
    <div class="row">
        <div class="col-sm-2 font-weight-bold">Code</div>
        <div class="col-sm-10 font-weight-bold">Name</div>
    </div>

    @foreach (DiagnosePreviewViewModel currentDiagnose in Model)
    {
        <hr/>
        <div class="row">
            <div class="col-sm-2">@currentDiagnose.Code</div>
            <div class="col-sm-10">@currentDiagnose.Name</div>
        </div>
    }
}
else
{
    <div class="text-center text-info">No diagnose data</div>
}